.s0{height:1em;width:1em;font-weight:900;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1}

.s2{width:18px}.s2 path{fill:currentColor}